pandas
torch
numpy==1.22
matplotlib
tqdm
sentence-transformers
requests
nltk
fast-pagerank
openai==0.28.1
umap-learn
hdbscan
scikit-learn
bertopic
scipy
datasets
transformers
rouge-score
bert-score
moverscore
menli
debater-python-api
jupyter
ipykernel